---
import { svgGithubBrands } from "@ev-forge/icons";
import { Link } from "@ev-forge/components";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { LINKS } from "../constants";

const { title } = Astro.props;
const url = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import "@ev-forge/icons"; // 👈 register the web component before to use it
    </script>
  </head>
  <body class="bg-ev-background text-ev-foreground">
    <header
      class={`w-full ${url.pathname === "/browser" ? "bg-ev-primary text-ev-primary-contrast" : ""}`}
    >
      <div
        class="w-full max-w-[800px] mx-auto flex items-center justify-between"
      >
        <Link
          href="/"
          _variant={`${url.pathname === "/browser" ? "solid" : "flat"}`}
          >@ev-forge/icons</Link
        >
        <a
          href={LINKS["ev-forge-icons"]}
          target="_blank"
          rel="noopener noreferrer"
        >
          <ev-icon svg={svgGithubBrands} class="text-2xl"></ev-icon></a
        >
      </div>
    </header>

    <slot />
    <Footer />
  </body>
</html>
