---
import { svgGithubBrands } from "@ev-forge/icons";
import { Header, Link } from "@ev-forge/components";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { LINKS } from "../constants";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import "@ev-forge/icons"; // 👈 register the web component before to use it
    </script>
  </head>
  <body class="bg-ev-background text-ev-foreground">
    <!-- <Header client:only="react"> -->

    <header
      class="w-full max-w-[800px] mx-auto flex items-center justify-between"
    >
      <a href="http://">@ev-forge/icons</a>
      <a href={LINKS["ev-forge-icons"]} class="">
        <ev-icon svg={svgGithubBrands} class="text-2xl bg-ev-background"
        ></ev-icon></a
      >
    </header>
    <!-- </Header> -->

    <slot />
    <Footer />
  </body>
</html>
