@config "../../tailwind.config";
@import "tailwindcss";

@custom-variant dark (&: where(.dark, .dark *));

@theme {
  --color-ev-background: #f8f1e5;
  --color-ev-background-hard: #ecd9bc;
  --color-ev-background-harder: #e0be91;
  --color-ev-background-contrast: #000000;

  --color-ev-foreground: #1c1c1c;
  --color-ev-foreground-hard: #3d3d3d;
  --color-ev-foreground-harder: #3d3d3d;
  --color-ev-foreground-contrast: #f8f1e5;

  --color-ev-primary: #288195;
  --color-ev-primary-hard: #247486;
  --color-ev-primary-harder: #206777;
  --color-ev-primary-hardest: #1c5a68;
  --color-ev-primary-contrast: #ffffff;

  --color-ev-secondary: #d04a00;
  --color-ev-secondary-hard: #bb4200;
  --color-ev-secondary-harder: #a63b00;
  --color-ev-secondary-hardest: #952b2b;
  --color-ev-secondary-contrast: #ffffff;

  --color-ev-destructive: #d63e3e;
  --color-ev-destructive-hard: #c03737;
  --color-ev-destructive-harder: #ab3131;
  --color-ev-destructive-hardest: #952b2b;
  --color-ev-destructive-contrast: #ffffff;
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-ev-background: #1c1c1c;
      --color-ev-background-hard: #3d3d3d;
      --color-ev-background-harder: #3d3d3d;
      --color-ev-background-contrast: #f8f1e5;

      --color-ev-foreground: #f8f1e5;
      --color-ev-foreground-hard: #ecd9bc;
      --color-ev-foreground-harder: #e0be91;
      --color-ev-foreground-contrast: #000000;

      --color-ev-primary: #3d8d9f;
      --color-ev-primary-hard: #529aaa;
      --color-ev-primary-harder: #68a6b4;
      --color-ev-primary-hardest: #7eb3bf;
      --color-ev-primary-contrast: #000000;

      --color-ev-secondary: #d45c19;
      --color-ev-secondary-hard: #d96e32;
      --color-ev-secondary-harder: #de804c;
      --color-ev-secondary-hardest: #e29266;
      --color-ev-secondary-contrast: #000000;

      --color-ev-destructive: #da5151;
      --color-ev-destructive-hard: #de6464;
      --color-ev-destructive-harder: #e27777;
      --color-ev-destructive-hardest: #e68b8b;
      --color-ev-destructive-contrast: #000000;
    }
  }
}

pre {
  background-color: var(--color-ev-light-hard);
  border-radius: var(--radius-md);
  padding: 16px;
  overflow-x: auto;
}
