name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9.1.0
          run_install: true

      # enable cache to download only the different packages -> more quickly
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"

      - name: Build Project
        run: |
          echo "Current working directory:"
          pwd
          echo "-----------------------------------"
          echo "Listing files recursively from current directory:"
          find . \
            -path './node_modules' -prune -o \
            -path '*/node_modules' -prune -o \
            -path './apps/docs/public/icons' -prune -o \
            -path './packages/icons/src/assets' -prune -o \
            -print
          echo "-----------------------------------"

      - run: pnpm lint
      - run: pnpm build
